<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497678894055-spp0bbsvj2vmh79rptvuhk79pat0kjva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497678894055-spp0bbsvj2vmh79rptvuhk79pat0kjva</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>497678894055-0sod0qhbu99c3p11hdm72de96qej1s1n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAaX1G4NljpHKlmZzxcNlG9JS9KcKgWg4c</string>
	<key>GCM_SENDER_ID</key>
	<string>497678894055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toangtv.gtvMail</string>
	<key>PROJECT_ID</key>
	<string>gtv-mail</string>
	<key>STORAGE_BUCKET</key>
	<string>gtv-mail.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497678894055:ios:a319a8017fe4990cbd3342</string>
</dict>
</plist>